/* Styling untuk kotak berwarna putih */
.white-box {
  background-color: white;
  width: 300px; /* Lebar kotak */
  padding: 10px; /* Padding dalam kotak */
  margin: 10px auto; /* Jarak antara kotak dengan tepi halaman */
  border: 2px solid rgba(204, 206, 204, 5); /* Garis tepi kotak */
  text-align: center; /* Posisi teks di tengah */
}
/* Styling untuk teks kredit di bagian bawah */
footer {
  position: fixed; /* Memposisikan footer tetap di bawah */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent; /* Warna latar belakang footer */
  color: white; /* Warna teks */
  text-align: center; /* Posisi teks di tengah */
  padding: 1px 0; /* Padding atas dan bawah teks */
}

.credit {
  font-size: 14px; /* Ukuran font teks kredit */
}
body {
  background: linear-gradient(to right, #F362FC, #CEFC62);
}
submit {
  background-color: #7C9D2D;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 0.5em;
  color: #DEDEDE;
  box-shadow: 0.5em, 0.5em, 0.5em, #000000;
}
submit::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #212121 0%, #212121 50%, #96041f 50%, #bf0426 60%);
  border-radius: 0 0 0 5em 0;
  box-shadow: 0.2em 0.2em 0.2em #0000004d;
  transition: 0.3s;
}
submit::hover::before {
  width: 1.6em;
  height: 1.6em;
}
submit::active {
  box-shadow: 0.2em 0.2em 0.3em #0000004d;
  transform:translate(0.1em,01em);
}