/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
head {
  background: transparent;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    text-align: center;
    justify-content: center;
    background: transparent;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #007bff 3px solid;
    font-size: 7px;
}

header a {
    color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.logo {
    text-align: center;
    justify-items: center;
    float: left;
    display: inline;
    padding: 10px 20px;
}

.menu {
    background: transparent;
    float: right;
    padding: 10px 20px;
    display: inline;
}

.menu li {
    background: transparent;
    display: inline;
    padding: 0 5px;
}


.jumbotron h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.section {
    padding: 50px 0;
    background: #fff;
}

.section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.section p {
    text-align: center;
    margin-bottom: 30px;
}

.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 50%;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: transparent;
}

/* Basic styling for navbar */
nav {
  text-align: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}

.images {
  text-align: center; /* Posisi foto di tengah */
  margin-top: 20px; /* Jarak dari kotak putih */
  display: flex;
  font-size: 32px;
}

.images img {
  display: flex;
  max-width: 100%; /* Maksimum lebar gambar sesuai dengan kontainer */
  height: auto; /* Menjaga aspek rasio gambar */
}
.portfolio-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 150;
  /* Sesuaikan lebar gambar sesuai kebutuhan */
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#scrollToTopBtn {
  display: none; /* Tombol tidak terlihat saat halaman dimuat */
  position: fixed; /* Tetap pada posisi tetap di layar */
  bottom: 10px; /* Jarak dari bagian bawah layar */
  right: 20px; /* Jarak dari bagian kanan layar */
  z-index: 99; /* Mengatur lapisan tombol agar berada di atas konten */
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: #66C3FF;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

#scrollToTopBtn:hover {
  background-color: #555;
}
body {
  background: linear-gradient(to right, #F362FC, #CEFC62);
}