h2 {
  font-size: 30px;
  font-weight: center;
  font-family: Arial, sans-serif;
  width: 10;
}

.portfolio-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 10;
  /* Sesuaikan lebar gambar sesuai kebutuhan */
}

.portfolio-item img {
  max-width: 90%;
  height: auto;
  margin-bottom: 10px;
}
body {
    background: radial-gradient(circle, #000033, #19004d, #330066, #4d0080);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
    color: snow; /* Warna teks putih agar kontras dengan latar belakang */
}