h2 {
  font-size: 30px;
  font-weight: center;
  font-family: Arial, sans-serif;
  width: 10;
}

.portfolio-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 10;
  /* Sesuaikan lebar gambar sesuai kebutuhan */
}

.portfolio-item img {
  max-width: 90%;
  height: auto;
  margin-bottom: 10px;
}
body {
  background: linear-gradient(to right, #F362FC, #CEFC62);
}