.portfolio-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 10;
  /* Sesuaikan lebar gambar sesuai kebutuhan */
}

.portfolio-item img {
  max-width: 90%;
  height: auto;
  margin-bottom: 10px;
}